#snake-game-container {
    width: calc(85vw - 32px); 
    height: calc(69.186vw - 32px); /* height:width ratio = 9/16 = .5625  */
    max-height: calc(85vh - 32px);
    max-width: calc(104.432vh - 32px); /* 16/9 = 1.778 */
    margin: auto;
    position: absolute;
    top: -32px; bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */
}

#snake-game-container #game-close-button {
    color: white;
    border: 4px solid white;
    bottom: calc(100% + 6px);
    right: 0px;
}

#snake-game-canvas {
    background-color: transparent;
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
}