#moon {
    background-image: url(./moon.png);
    top: 75px;
    right: 10vw;
    width: 240px;
    height: 240px;
    position: fixed;
    transform-origin: top right;
    transform: scale(0.40);
    animation: 1s ease-out 0s 1 appear;
    z-index: 2;
}

#moon:hover {
    filter: invert(1);
}

@keyframes appear {
    from {opacity: 0}
    to { opacity: 1 }
}