#moon-home {
    background-image: url(./moon.png);
    bottom: 135px;
    left: calc(90vw - 56px + 32px);
    width: 96px;
    height: 96px;
    position: fixed;
    transform-origin: top right;
    animation: 1.5s ease-out 0s 1 moon-appear-from-bottom;
    z-index: 1;
}

@keyframes moon-appear-from-bottom {
    from {bottom: -96px}
    to { bottom: 135px; }
}