#moon {
    background-image: url(./moon.png);
    bottom: 135px;
    right: 10vw;
    width: 96px;
    height: 96px;
    position: fixed;
    transform-origin: top right;
    animation: 1.5s ease-out 0s 1 appear;
    z-index: 1;
}

@keyframes appear {
    from {bottom: -96px}
    to { bottom: 145px; }
}