#experience-panel-content-container {
    margin-left: 12px;
    margin-right: 12px;
}

#experience-panel-content {
    width: 100%;
    display: flex;
    min-height: fit-content;
    /* overflow: hidden; */
}

.title-card-filler {
    position: absolute;
    width: calc(45% + 30px);
    height: 100px;
    line-height: 90px;
    margin-left: -30px;
}

#exp-title-cards {
    width: 45%;
    display: inline-block;
}

#exp-info-section {
    width: calc(55%);
    min-height: 100%;
    margin-left: 4px;
    margin-top: 4px;
    padding-top: 8px;
    padding-left: 8px;
    border-left: 4px solid transparent;
    margin-bottom: 4px;
}

#title-text {
    font-size: 18pt;
    letter-spacing: 0px;
    font-family: 'pixel',Lato,LatoExtended,sans-serif;
    white-space: wrap;
    overflow: hidden;
    font-weight: bold;
    text-align: left;
    -webkit-font-smoothing: none; 
}

#description-container {
    margin: 8px;
    font-size: 14pt;
    text-align: left;
    font-weight: bold;
    font-family: 'pixel',Lato,LatoExtended,sans-serif;
    line-height: 1.3;
    letter-spacing: 0px;
    z-index: 1;
    -webkit-font-smoothing: none;
}

#experience-panel-content #divider {
    display: none;
    width: 4px;
    background-color: #e3e3e3;
    position: absolute;
    min-height: calc(100% + 4px);
    top: -4px;
    margin-left: calc(45%);
}

.exp-container {
    border-width: 4px 0px;
    border-style: solid;
    border-color: black;
    width: calc(100% - 25px);
    margin: 10px;
    margin-left: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    transition: margin-left 200ms;
}

.exp-container:hover {
    cursor: pointer;
}

.exp-container .left-border {
    width: 4px;
    border: 4px solid black;
    border-right: 0;
    align-self: stretch;
    margin-left: -4px;
}

.exp-container .right-border {
    width: 4px;
    border: 4px solid black;
    border-left: 0;
    align-self: stretch;
    margin-right: -4px;
}

.exp-summary {
    border-left: 4px solid black;
    width: calc(100% - 72px);
}

.exp-title {
    display: inline-block;
    color: black;
    font-size: 13pt;
    letter-spacing: 0px;
    font-family: 'pixel',Lato,LatoExtended,sans-serif;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
    text-align: center;
    -webkit-font-smoothing: none;
    width: 95%;
    margin-top: 8px;
    margin-right: 2.5%;
    margin-left: 2.5%;
    padding-bottom: 3px;
    border-bottom: 3px solid #e3e3e3;
}

.exp-subtitle {
    display: inline-block;
    font-size: 12pt;
    letter-spacing: 1px;
    font-family: 'pixel',Lato,LatoExtended,sans-serif;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
    text-align: center;
    -webkit-font-smoothing: none;
    width: 100%;
    line-height: 1.3;
    color: rgb(45, 45, 45);
}

#uwf-logo {
    background-image: url('./Sprites/uwf-exp-small.png');
    min-width: 56px;
    height: 56px;
    display: inline-block;
    image-rendering: pixelated;
    margin: 8px;
    margin-left: 4px;
}

#ihmc-logo {
    background-image: url('./Sprites/ihmc-exp-small.png');
    min-width: 56px;
    height: 56px;
    display: inline-block;
    image-rendering: pixelated;
    margin: 8px;
    margin-left: 4px;
}

.vert-divider {
    display: none;
}

.long-title {
    display: block;
}

.long-description {
    display: block;
}

.short-title {
    display: none;
}

.short-description {
    display: none;
}

@media (max-width: 1285px) {
    
    .exp-summary .exp-title {
        font-size: 12pt;
    }

    .exp-summary .exp-subtitle {
        font-size: 12pt;
    }

    .title-card-filler {
        width: calc(45% + 30px);
    }
    
    #exp-title-cards {
        width: 55%;
    }
    
    #exp-info-section {
        width: calc(48.5% + 32px);
    }

    #experience-panel-content #divider {
        margin-left: calc(50%);
    }
}

@media (max-width: 1200px) {
    .long-title {
        display: none;
    }
    
    .long-description {
        display: none;
    }
    
    .short-title {
        display: block;
    }
    
    .short-description {
        display: block;
    }
    
}

@media (max-width: 1150px) {
    .exp-summary .exp-title {
        font-size: 12pt;
    }

    .exp-summary .exp-subtitle {
        font-size: 12pt;
    }

    .title-card-filler {
        width: calc(45% + 30px);
    }
    
    #exp-title-cards {
        width: 90%;
    }
    
    #exp-info-section {
        width: calc(48.5% + 32px);
    }

    #experience-panel-content #divider {
        margin-left: calc(60%);
    }

    #title-text {
        font-size: 16pt;
    }

    #description-container {
        font-size: 12pt;
    }

    .exp-summary {
        padding-top:1px;
    }
}

@media (max-width: 775px) {
    #exp-title-cards {
        width: 100%;
    }

    #exp-info-section {
        width: calc(100% - 16px);
        border-top: 4px;
        min-height: 0;
    }

    #experience-panel-content {
        display: grid;
    }

    .vert-divider {
        display: block;
    }

    /* #exp-info-section {
        border: 4px solid transparent;
    } */
}

@media (max-width: 400px) {
    .exp-summary .exp-title {
        padding-top: 2px;
        font-size: 11pt;
    }

    .exp-summary .exp-subtitle {
        font-size: 11pt;
        padding-bottom: 2px;
    }
}

@media (max-width: 385px) {
    .exp-summary .exp-title {
        padding-top: 5px;
        font-size: 10pt;
    }

    .exp-summary .exp-subtitle {
        font-size: 10pt;
        padding-bottom: 4px;
    }
}

@media (max-width: 365px) {
    .exp-summary .exp-title {
        padding-top: 8px;
        font-size: 9pt;
    }

    .exp-summary .exp-subtitle {
        font-size: 9pt;
        padding-bottom: 7px;
    }
}

@media (max-width: 345px) {
    .exp-summary .exp-title {
        padding-top: 10px;
        font-size: 8pt;
    }

    .exp-summary .exp-subtitle {
        font-size: 8pt;
        padding-bottom: 9px;
    }
}