.cloud {
    position: fixed;
    transform-origin: bottom left;
}

.small {
    background-image: url(./CloudSprites/small-cloud.png);
    width: 184px;
    height: 52px;
    bottom: 0; 
    filter: drop-shadow(0 0 2px rgb(235, 235, 235));
    animation-name: move-small;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 4;
}

.medium {
    background-image: url(./CloudSprites/medium-cloud.png);
    width: 296px;
    height: 60px;
    bottom: 20px;
    filter: drop-shadow(0 0 2px rgb(235, 235, 235));
    animation-name: move-medium;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 3;
}

.large {
    background-image: url(./CloudSprites/large-cloud.png);
    width: 420px;
    height: 60px;
    bottom: 45px;
    animation-name: move-large;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 1;
}

#large-1 { animation-duration: 180s; animation-delay: -0s; }
#large-2 { animation-duration: 180s; animation-delay: -30s; }
#large-3 { animation-duration: 180s; animation-delay: -60s; }
#large-4 { animation-duration: 180s; animation-delay: -90s; }
#large-5 { animation-duration: 180s; animation-delay: -120s; }
#large-6 { animation-duration: 180s; animation-delay: -150s; }

#medium-1 { animation-duration: 160s; animation-delay: -0s; }
#medium-2 { animation-duration: 160s; animation-delay: -20s; }
#medium-3 { animation-duration: 160s; animation-delay: -40s; }
#medium-4 { animation-duration: 160s; animation-delay: -60s; }
#medium-5 { animation-duration: 160s; animation-delay: -80s; }
#medium-6 { animation-duration: 160s; animation-delay: -100s; }
#medium-7 { animation-duration: 160s; animation-delay: -120s; }
#medium-8 { animation-duration: 160s; animation-delay: -140s; }

#small-1 { animation-duration: 110s;  animation-delay: -0s; }
#small-2 { animation-duration: 110s; animation-delay: -10s; }
#small-3 { animation-duration: 110s; animation-delay: -20s; }
#small-4 { animation-duration: 110s; animation-delay: -30s; }
#small-5 { animation-duration: 110s; animation-delay: -40s; }
#small-6 { animation-duration: 110s; animation-delay: -50s; }
#small-7 { animation-duration: 110s; animation-delay: -60s; }
#small-8 { animation-duration: 110s; animation-delay: -70s; }
#small-9 { animation-duration: 110s; animation-delay: -80s; }
#small-10 { animation-duration: 110s; animation-delay: -90s; }
#small-11 { animation-duration: 110s; animation-delay: -100s; }

@keyframes move-small {
    from {left: -279px; }
    to { left: 100%; }
}

@keyframes move-medium {
    from {left: -449px; }
    to { left: 100%; }
}

@keyframes move-large {
    from {left: -635px; }
    to { left: 100%; }
}