.connect-panel #github-link {
    width: 70px;
    height: 70px;
}

.connect-panel #github-icon-base {
    position: fixed;
    background-image: url(./Sprites/github-icon-base.png);
    width: 70px;
    height: 70px;
    image-rendering: pixelated;
    z-index: 4;
    left: calc(30vw + 10px);
    bottom: 205px;
}

.connect-panel #github-icon {
    position: fixed;
    background-image: url(./Icons/github-icon.png);
    width: 50px;
    height: 50px;
    z-index: 5;
    left: calc(30vw + 20px);
    bottom: 215px;
}

.connect-panel .corner {
    position: fixed;
    background-image: url(./Sprites/corner-dark.png);
    width: 16px;
    height: 16px;
    image-rendering: pixelated;
    z-index: 1;
}

.connect-panel #top-right-corner {
    transform: rotate(0deg);
    right: -16px;
    margin-right: 30vw;
    bottom: 274px;
}

.connect-panel #bottom-right-corner {
    transform: rotate(90deg);
    right: -16px;
    margin-right: 30vw;
    bottom: 190px;
}

.connect-panel #bottom-left-corner {
    transform: rotate(180deg);
    right: 70vw;
    bottom: 190px;
}

.connect-panel #top-left-corner {
    transform: rotate(270deg);
    right: 70vw;
    bottom: 274px;
}

.connect-panel #right-side {
    position: fixed;
    border-left: 4px solid black;
    width: 12px;
    margin-top: 16px;
    margin-bottom: 16px;
    height: 68px;
    right: 70vw;
    bottom: 190px;
    background-color: white;
    z-index: 1;
}

.connect-panel #left-side {
    position: fixed;
    border-right: 4px solid black;
    width: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    height: 68px;
    bottom: 190px;
    padding: -32px;
    right: -16px;
    margin-right: 30vw;
    background-color: white;
    z-index: 1;
}

.connect-panel #info-panel {
    position: fixed;
    right: 30vw;
    bottom: 190px;
    width: 40vw;
    height: 100px;
    background-color: white;
    box-shadow: inset 0px 4px 0px 0px black, inset 0px -4px 0px 0px black;
    z-index: 1;
}