#info-panels {
    position: fixed;
    height: fit-content;
    
    position: fixed;
    top: 45%;
    transform: translate(0, -45%);
    
    right: calc(30vw - 8px);
    width: calc(40vw + 16px);
}