#info-panels {
    position: fixed;
    height: fit-content;
    
    top: 45%;
    transform: translate(0, -45%);
    
    right: calc(30vw - 8px);
    width: calc(40vw + 16px);
}

#greeting-text {
    margin: 0;
    color: white;
    font-size: 24pt;
    letter-spacing: 2px;
    font-family: 'pixel',Lato,LatoExtended,sans-serif;
    white-space: nowrap;
    overflow: hidden;
    width: 8em;
    height:  32px;
    font-weight: bold;
    -webkit-font-smoothing: none;
    position: relative;
}

_::-webkit-full-page-media, _:future, :root #greeting-text {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
}

hr {
    width: 100%;
    margin: 8px;
    margin-right: 16px;
    margin-left: 16px;
    height: 4px;
    background: #e5e5e5;
    border: none;
}

.text-panel {
    width: calc(40vw + 16px);
    position: relative;

    border: 4px solid #e5e5e5;
    border-width: 4px 0px;

    overflow-wrap: break-word;
    color: black;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
}

#about-panel {
    margin-top: 5px;
    margin-bottom: 15px;
}

#reach-out-panel {
    margin-top: 5px;
    margin-bottom: 15px;
}

#reach-out-text {
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-panel .sides {
    top: 0;
    right: -4px;
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: 0;
    pointer-events: none;

    border: 4px solid #e5e5e5;
    border-width: 0px 4px;
}

.info-text {
    font-size: 17pt;
    text-align: center;
    font-weight: bold;
    font-family: 'pixel',Lato,LatoExtended,sans-serif;
    line-height: 1.2;
    letter-spacing: 1px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    color: black;
    -webkit-font-smoothing: none;
}

_::-webkit-full-page-media, _:future, :root .info-text {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.text-panel .corner {
    position: absolute;
    background-image: url(./Sprites/corner-light.png);
    width: 12px;
    height: 12px;
    image-rendering: pixelated;
    z-index: 2;
}

.text-panel #top-right-corner {
    transform: rotate(0deg);
    right: 0px;
    top: 0px;
}

.text-panel #bottom-right-corner {
    transform: rotate(90deg);
    right: 0px;
    bottom: 0px;
}

.text-panel #bottom-left-corner {
    transform: rotate(180deg);
    left: 0;
    bottom: 0;
}

.text-panel #top-left-corner {
    transform: rotate(270deg);
    left: 0;
    top: 0;
}

/* @media (max-width: 675px) {
    #rocket-guy {
        left: 7.5vw;
    }
}

@media (max-width: 575px) {
    #rocket-guy {
        left: 4vw;
    }
}

@media (max-width: 520px) {
    #rocket-guy {
        left: 1vw;
    }
} */

@media (min-width: 1600px) {
    .info-text {
        font-size: 18pt;
    }
}

@media (max-width: 1200px) {
    .info-text {
        font-size: 16pt;
        margin-left: 6%;
        margin-right: 6%;
        width: 88%;
    }
}

@media (max-width: 1000px) {
    .text-panel {
        width: calc(60vw - 80px);
    }

    #info-panels {
        top: 45%;
        left: calc(20vw + 40px);
        width: calc(60vw - 80px);
    }
}

@media (max-width: 800px) {
    #greeting-text {
        font-size: 20pt;
        height:  26px;
    }

    .text-panel {
        width: calc(70vw - 80px);
    }

    #info-panels {
        top: 45%;
        left: calc(15vw + 40px);
        width: calc(70vw - 80px);
    }

    .info-text {
        font-size: 16pt;
    }
}

@media (max-width: 660px) {
    .info-text {
        font-size: 14pt;
    }
}

@media (max-width: 575px) {
    #greeting-text {
        font-size: 18pt;
        height:  22px;
    }
}

@media (max-width: 675px) {
    .info-text {
        font-size: 13pt;
    }
}

@media (max-width: 425px) {
    .info-text {
        font-size: 11pt;
    }

    .text-panel {
        width: calc(82.5vw - 80px);
    }

    #info-panels {
        top: 45%;
        left: calc(15vw + 40px);
        width: calc(82.5vw - 80px);

    }
}

@media (max-height: 600px) {
    .info-text {
        font-size: 14pt;
    }
}

@media (max-height: 550px) {
    .info-text {
        font-size: 12pt;
    }

    #reach-out-panel {
        display: none;
    }
}

@media (max-height: 430px) {
    #greeting-text {
        font-size: 20pt;
        height:  22px;
    }

    #info-panels {
        top: 40%;
    }
}

@media (min-height: 950px) and (min-width: 1250px) {
    #greeting-text {
        font-size: 28pt;
        height:  36px;
    }

    .info-text {
        font-size: 18pt;
    }
}