#moon-tech {
    background-image: url(./moon.png);
    top: 0;
    transform: translateY(115px);
    left: calc(90vw - 56px + 28px);
    width: 96px;
    height: 96px;
    position: fixed;
    transform-origin: top right;
    animation: 1.5s ease-out 0s 1 moon-appear-from-top;
    z-index: -1;
}

@keyframes moon-appear-from-top {
    from { transform: translateY(-96px); }
    to { transform: translateY(115px); }
}