#right-buildings {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    width: 60vw;
    right: 0;
}

#building-1 {
    background-image: url(./BuildingSprites/building1.png);
    position: relative;
    margin-top: 150px;
    width: 156px;
    height: 772px;
    transform-origin: top right;
    z-index: 1;
}

#building-2 {
    background-image: url(./BuildingSprites/building2.png);
    margin-top: 350px;
    width: 392px;
    height: 896px;
    position: relative;
    transform-origin: top right;
    z-index: 1;
}

#building-3 {
    background-image: url(./BuildingSprites/building3.png);
    margin-top: 250px;
    width: 152px;
    height: 780px;
    position: relative;
    transform-origin: top right;
    z-index: 1;
}

#building-4 {
    background-image: url(./BuildingSprites/building4.png);
    top: 100px;
    left: calc(15vw - 260px);
    width: 208px;
    height: 896px;
    position: fixed;
    transform-origin: top right;
    z-index: 1;
    border: 1px
}