.fill {
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    margin-top: 64px;
    width: 100vw;
    height: calc(100vh - 147px);
    z-index: 12;
}

#nav-bar-background {
    position: fixed;
    background-color: black;
    height: 54px;
    top: 0;
    width: 100vw;
    z-index: 13;
    filter: drop-shadow(0 0 4px black);
}

#computer-layout {
    background-image: url(./Sprites/computer-horizontal-layout.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    z-index: 12;
    flex-shrink: 0;
    margin-top: 1vw;
    width: 85vw;
    padding-top: min(36.2vw, 505px);
    height: 0;
    object-fit: contain;
    animation: appear 500ms linear 0s;
    max-width: 1250px; 
}

#computer-screen {
    /* margin-top: max(-33.7vw, -461px); */
    margin-top: max(-32.27vw, -451px);
    margin-left: 15.13vw;
    width: min(49.8%, 592px);
    height: min(24.5vw, 343px);
    /* background-color: red; */
    /* display: flex; */
}

@media only screen and (min-width: 1450px)  {
    #computer-screen {
        margin-left: 242px;
    }
}

#game-selection-container {
    margin-top: 2.5vw;
    z-index: 12;
    width: 85%;
    max-width: 1250px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: appear 500ms linear 0s;
}

.game-selection {
    /* border: 2px solid white; */
    margin-right: 4px;
    margin-left: 4px;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-selection-text {
    color: white;
    font-size: min(2.5vw, 40px);
    text-align: center;
    font-weight: bold;
    font-family: 'pixel',Lato,LatoExtended,sans-serif;
    line-height: 1.2;
    margin-top: 16px;
    width: 100%;
    -webkit-font-smoothing: none;
}

.game-selection:hover #snake-label {
    color: #f17878;
}

/* .game-selection:active #snake-label {
    margin-top: 12px;
    color: #cd4747;
} */

#snake-game-cart {
    background-image: url(./Sprites/snake-game-cart.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 18%;
    height: 0;
    width: 33.33%;
    max-width: 150px;
}

.game-selection:hover #tetris-label {
    color: #76a4e9;
}

/* .game-selection:active #tetris-label {
    margin-top: 12px;
    color: #4378c8;
} */

#tetris-game-cart {
    background-image: url(./Sprites/tetris-game-cart.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 18%;
    height: 0;
    width: 33.33%;
    max-width: 150px;
}

.game-selection:hover #minesweeper-label {
    color: #90f49d;
}

/* .game-selection:active #minesweeper-label {
    margin-top: 12px;
    color: #52c461;
} */

#minesweeper-game-cart {
    background-image: url(./Sprites/minesweeper-game-cart.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 18%;
    height: 0;
    width: 33.33%;
    max-width: 150px;
}

@keyframes appear {
    from {opacity: 0;}
    to {opacity: 100;}
}