.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 100vw;
    height: calc(100vh - 30px);
    z-index: 12;
}

#computer-layout {
    /* margin-top: 100px; */
    background-image: url(./Sprites/computer-horizontal-layout.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 12;
    flex-shrink: 0;
    width: 80%;
    height: calc(100vh - 30px);
    object-fit: contain;
    animation: appear 500ms linear 0s;
}

@keyframes appear {
    from {opacity: 0;}
    to {opacity: 100;}
}