#password-label {
    color: white;
    font-size: max(2vw, 12px);
    text-align: left;
    font-weight: bold;
    font-family: 'pixel',Lato,LatoExtended,sans-serif;
    width: 90%;
    padding-bottom: 0.6vw;
    -webkit-font-smoothing: none;
}

#password-clue {
    color: rgba(255, 255, 255, 0.5);
    margin-left: 0.2vw;
    font-size: max(1.8vw, 12px);
    text-align: left;
    font-weight: bold;
    font-family: 'pixel',Lato,LatoExtended,sans-serif;
    line-height: 1.6;
    margin-top: 1vw;
    width: 90%;
    -webkit-font-smoothing: none;  
}

#password-input {
    color: white;
    font-size: max(2vw, 12px);
    text-align: left;
    font-weight: bold;
    font-family: 'pixel',Lato,LatoExtended,sans-serif;
    padding: 0.3vw 0.6vw;
    width: 65%;
    -webkit-font-smoothing: none;
    background-color: black;
    border: 0.3vw solid white;
}

#password-input:focus {
    border: 0.3vw solid white;
    border-radius: 0;
    outline: none;
}

#password-submit-button {
    position: relative;
    display: inline-block;
    margin-left: 2%;
}

#password-submit-button:hover .submit-border {
    background-color: rgba(255, 255, 255, 0.8);
}

.submit-border {
    position: absolute;
    display: block;
    height: 0.3vw;
    width: 91.7%;
    margin: 0;
    border: 0;
    margin-left: 0.6vw;
    background-color: white;
}

#submit-top-border {
    top: -0.3vw;
}

#submit-bottom-border {
    bottom: -0.3vw;
}

#password-submit-button:hover .corner {
    background-color: rgba(255, 255, 255, 0.8);
}

#password-submit-button:hover #password-submit-input {
    border-color: rgba(255, 255, 255, 0.8);
}

#password-submit-button:active {
    margin-top: 1%;
}

#password-submit-input {
    color: white;
    font-size: max(2vw, 12px);
    text-align: center;
    font-weight: bold;
    font-family: 'pixel',Lato,LatoExtended,sans-serif;
    border: 0.3vw solid white;
    border-width: 0 0.3vw;
    padding: 0.3vw 1vw;
    -webkit-font-smoothing: none;
    background-color: black;
    margin-left: 0.3vw;
}

.corner {
    width: 0.4vw;
    height: 0.3vw;
    background-color: white;
    position: absolute;
}

#submit-top-right-corner {
    top: 0;
    right: 0.2vw;
}

#submit-top-left-corner {
    top: 0;
    left: 0.5vw;
}

#submit-bottom-right-corner {
    bottom: 0;
    right: 0.2vw;
}

#submit-bottom-left-corner {
    bottom: 0;
    left: 0.5vw;
}

#time {
    color: white;
    font-size: max(2vw, 12px);
    text-align: right;
    font-weight: bold;
    font-family: 'pixel',Lato,LatoExtended,sans-serif;
    width: 90%;
    padding-bottom: 0.6vw;
    -webkit-font-smoothing: none;
    margin-top: 9vw;
    width: 100%;
}

@keyframes horizontal-shaking {
    0% { transform: translateX(0); border-color: red; color: red; }
    25% { transform: translateX(0.3vw); }
    75% { transform: translateX(-0.3vw); }
    100% { transform: translateX(0); border-color: white; color: white; }
}

@media only screen and (min-width: 1365px)  {
    #password-label {
        font-size: 25px;
    }

    #password-input {
        font-size: 25px;
        padding: 4px 8px;
        border: 4px solid white;
    }

    #password-clue {
        font-size: 25px;
    }

    #password-input:focus {
        border: 4px solid white;
    }

    #password-submit-input {
        font-size: 25px;
    }
    
    .submit-border {
        height: 4px;
        margin-left: 8px;
    }
    
    #submit-top-border {
        top: -4px;
    }
    
    #submit-bottom-border {
        bottom: -4px;
    }
    
    #password-submit-input {
        border: 4px solid white;
        border-width: 0 4px;
        padding: 4px 32px;
        margin-left: 4px;
    }
    
    .corner {
        width: 5px;
        height: 4px;
    }
    
    #submit-top-right-corner {
        top: 0;
        right: 3px;
    }
    
    #submit-top-left-corner {
        top: 0;
        left: 6px;
    }
    
    #submit-bottom-right-corner {
        bottom: 0;
        right: 3px;
    }
    
    #submit-bottom-left-corner {
        bottom: 0;
        left: 6px;
    }
}