@font-face {
    font-family: eightbit;
    src: url(./Fonts/8-bit-pusab.ttf);
}

@font-face {
    font-family: pixel;
    src: url(./Fonts/04B_03__.TTF);
}

@font-face {
    font-family: alagard;
    src: url(./Fonts/alagard.ttf);
}

@font-face {
    font-family: minecraft;
    src: url(./Fonts/Minecraft.ttf);
}

@font-face {
    font-family: retro;
    src: url(./Fonts/retro.ttf);
}

#background-gradient {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

/* .home-sky {
    background-image: linear-gradient(180deg, #04234f, #2d3879,#6a5aac);
} */

#main-content {
    opacity: 1;
}

@keyframes disappear {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

.section {
    width: 100vw;
    height: auto;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

* {
    font-family: 'Montserrat', sans-serif;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Press Start 2P', cursive;
font-family: 'VT323', monospace; */