.shooting-star {
    background-image: url(./StarSprites/shooting-start.png);
    width: 412px;
    height: 140px;
    position: fixed;
    z-index: 1;
    animation: 2s ease-out 0s 1 shoot;
    animation-iteration-count: 1;
    animation-timing-function: steps(12, end);
}

@keyframes shoot {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(-400vw, 100vw);
    }
}