.cloud {
    position: fixed;
    transform-origin: bottom left;
    image-rendering: pixelated;
}

.small {
    background-image: url(./CloudSprites/small-cloud.png);
    width: 184px;
    height: 52px;
    bottom: -4px; 
    filter: drop-shadow(0 0 2px rgb(235, 235, 235));
    animation-name: move-small;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 5;
}

.medium {
    background-image: url(./CloudSprites/medium-cloud.png);
    width: 296px;
    height: 60px;
    bottom: 12px;
    filter: drop-shadow(0 0 2px rgb(235, 235, 235));
    animation-name: move-medium;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 4;
}

.large {
    background-image: url(./CloudSprites/large-cloud.png);
    width: 420px;
    height: 60px;
    bottom: 37px;
    animation-name: move-large;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 2;
}

.even {
    margin-bottom: 4px;
}

@keyframes move-small {
    from {left: -184px; }
    to { left: 100%; }
}

@keyframes move-medium {
    from {left: -296px; }
    to { left: 100%; }
}

@keyframes move-large {
    from {left: -420px; }
    to { left: 100%; }
}