#rocket-guy {
    position: fixed;
    image-rendering: pixelated;
    transform-origin: left;
    transform: scale(1.2);
    top: 0px;
    zoom: 1;
    width: 100px;
    height: 100px;
    margin-top: 150px;
    margin-left: 11.5vw;
}

.idle {
    background-image: url(./AnimationSprites/idle.png);
    animation-name: idle;
    animation-timing-function: steps(5);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes idle {
    from { top: 0; }
    50% { top: 3px; }
    to { top: 0px; }
}

.fly-up-build {
    background-image: url(./AnimationSprites/fly-up-build.png);
}

.fly-up-sustain {
    background-image: url(./AnimationSprites/fly-up-sustain.png);
}

.fly-up-stop {
    background-image: url(./AnimationSprites/fly-up-stop.png);
}

.fly-down-build {
    background-image: url(./AnimationSprites/fly-down-build.png);
}

.fly-down-sustain {
    background-image: url(./AnimationSprites/fly-down-sustain.png);
}

.fly-down-stop {
    background-image: url(./AnimationSprites/fly-down-stop.png);
}

.hit-ceiling {
    background-image: url(./AnimationSprites/hit-ceiling.png);
}

.landing {
    background-image: url(./AnimationSprites/landing.png);
}

.take-off {
    background-image: url(./AnimationSprites/take-off.png);
}