.navbar-wrapper {
    position: fixed;
    width: 80vw;
    top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid white;
}

.navbar-wrapper .links-wrapper button {
    color: white;
    text-decoration: none;
    padding-top: 8px;
    padding-bottom: 2px;
    padding-right: 12px;
    padding-left: 12px;
    font-family: 'pixel';
    -webkit-font-smoothing: none;
    font-size: 18pt;
    background-color: transparent;
    outline: none;
    border: 0;
    cursor: pointer;
    margin-bottom: 0;
    border-bottom: 2px solid transparent;
}

/* .navbar-wrapper .links-wrapper button:hover {
    color: #000000;
} */

.navbar-wrapper #name-home-button {
    color: white;
    text-decoration: none;
    padding: 8px;
    padding-bottom: 2px;
    font-family: 'pixel';
    -webkit-font-smoothing: none;
    font-size: 18pt;
    background-color: transparent;
    outline: none;
    border: 0;
    cursor: pointer;
}

.navbar-wrapper .links-wrapper .selected {
    color: #04234f;
    background-color: white;
    border-bottom: 2px solid white;
}