.navbar-wrapper {
    width: 80vw;
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

.navbar-wrapper .links-wrapper button {
    text-decoration: none;
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
    opacity: .85;
    transition: all .2s ease-in-out;
    font-size: 12px;
    background-color: transparent;
    outline: none;
    border: 0;
    cursor: pointer;
}

.navbar-wrapper .links-wrapper button:hover {
    opacity: 1;
}

.navbar-wrapper #name-home-button {
    text-decoration: none;
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
    opacity: .85;
    transition: all .2s ease-in-out;
    font-size: 12px;
    background-color: transparent;
    outline: none;
    border: 0;
    cursor: pointer;
}

.navbar-wrapper #name-home-button:hover {
    opacity: 1;
}