#projects-panel-content {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
}

#project-icons {
    width: 100%;
    margin: 0;
    padding: 0;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
}

#project-info-content {
    padding: 0px;
    margin-top: 0px;

    font-size: 16pt;
    text-align: left;
    font-weight: bold;
    font-family: 'pixel',Lato,LatoExtended,sans-serif;
    line-height: 1.5;
    letter-spacing: 1px;
    z-index: 1;
}

.project-display {
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 0;
    padding-top: 8px;
    padding-bottom: 0px;
    border-top: 4px solid transparent;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

.project-icon {
    width: 160px;
    height: 160px;
    margin: 20px 10px;
}

.project-display:hover {
    padding-top: 0px;
    cursor: pointer;
    padding-bottom: 8px;
}

#algo-contest-display.project-display:hover {
    background: rgba(39, 219, 255, 0.25);
    border-color: rgba(39, 219, 255, 0.5);
    border-bottom: 4px solid rgba(39, 219, 255, 0.5);
}

#huddle-display.project-display:hover {
    background: rgba(209, 25, 4, 0.25);
    border-color: rgba(209, 25, 4, 0.5);
    border-bottom: 4px solid rgba(209, 25, 4, 0.5);
}

#miscellaneous-display.project-display:hover {
    background: rgba(16, 148, 25, 0.25);
    border-color: rgba(16, 148, 25, 0.5);
    border-bottom: 4px solid rgba(16, 148, 25, 0.5);
}

#personal-website-display.project-display:hover {
    background: rgba(52, 31, 140, 0.25);
    border-color: rgba(52, 31, 140, 0.5);
    border-bottom: 4px solid rgba(52, 31, 140, 0.5);
}

#algo-contest-display.proj-selected {
    background: rgba(39, 219, 255, 0.25);
    border-color: rgba(39, 219, 255, 0.5);
    border-bottom: 4px solid rgba(39, 219, 255, 0.5);
    padding-top: 0px;
}

#huddle-display.proj-selected {
    background: rgba(209, 25, 4, 0.25);
    border-color: rgba(209, 25, 4, 0.5);
    border-bottom: 4px solid rgba(209, 25, 4, 0.5);
    padding-top: 0px;
}

#miscellaneous-display.proj-selected {
    background: rgba(16, 148, 25, 0.25);
    border-color: rgba(16, 148, 25, 0.5);
    border-bottom: 4px solid rgba(16, 148, 25, 0.5);
    padding-top: 0px;
}

#personal-website-display.proj-selected {
    background: rgba(52, 31, 140, 0.25);
    border-color: rgba(52, 31, 140, 0.5);
    border-bottom: 4px solid rgba(52, 31, 140, 0.5);
    padding-top: 0px;
}

.project-text {
    width: 170px;
    margin: 20px 5px;
    position: relative;

    font-size: 16pt;
    text-align: center;
    font-weight: bold;
    font-family: 'pixel',Lato,LatoExtended,sans-serif;
    line-height: 1.2;
    letter-spacing: 1px;
}

#algo-contest-icon {
    background-image: url(./Sprites/algo-contest-icon.png);
}

#huddle-icon {
    background-image: url(./Sprites/huddle-icon.png);
}

#mystery-icon {
    background-image: url(./Sprites/mystery-icon.png);
}

#personal-website-icon {
    background-image: url(./Sprites/personal-website-icon.png);
}

#miscellaneous-icon {
    background-image: url(./Sprites/miscellaneous.png);
}