#city {
    background-image: url(./city.png);
    bottom: 134.5px;
    right: calc(50vw - 217px);
    width: 868px;
    height: 389px;
    position: fixed;
    transform-origin: top right;
    z-index: 1;
    image-rendering: pixelated;
    transform: scale(0.5);
}